div{
  @if(true){
    color: red;
  }
}

@for $i from 0 through 5{
  .m-#{$i}{
    margin: $i * 4px
  }
  .p-#{$i}{
    padding: $i * 4px
  }
}

$i: 1;
@while $i <= 5 {
  .item-#{$i} {
    width: $i * 10px;
  }
  $i: $i + 1;   // 必须手动递增，否则死循环
}

$sizes: 10px, 20px, 30px;
@each $size in $sizes {
  .box-#{$size} {
    width: $size;
  }
}
